node_modules
.env
.DS_Store
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.out
*.pid
*.pidlock
*.lock
*.sqlite
*.db
*.sqlite3
*.sql
*.bak
*.tar
*.gz
*.zip
*.rar
*.7z
*.tgz
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.xz
*.tar.Z
*.tar.zst
*.tar.lz
*.tar.lz4
*.tar.lzma
*.tar.x